/* Style Guide */

:root {
  /* colours */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --white-transparent: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);
  /* fonts */
  --font-size-title: 2.5rem;
  --font-size-body: 0.938rem;
  --font-family-title: "Big Shoulders Display", sans-serif;
  --font-family-body: "Lexend Deca", sans-serif;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}

/* Fonts */

@font-face {
  font-family: "Big Shoulders Display";
  src: url("./fonts/BigShouldersDisplay.woff2") format("woff2");
  font-display: swap;
  font-weight: 100 900;
}

@font-face {
  font-family: "Lexend Deca";
  src: url("./fonts/LexendDeca.woff2") format("woff2");
  font-display: swap;
  font-weight: 100 900;
}

/* Global Styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  background-color: var(--very-light-gray);
  padding: 16px;
  display: grid;
  place-content: center;
  font-size: var(--font-size-body);
  font-family: var(--font-family-body);
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

textarea:not([rows]) {
  min-height: 10em;
}

:target {
  scroll-margin-block: 5ex;
}

/* Visually Hidden Utility Class */

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Preview Card Styles */

.preview-card {
  max-width: 20.438rem;
  border-radius: 8px;
  overflow: hidden;
}

.preview-card-section {
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.preview-card-section--sedan {
  background-color: var(--bright-orange);
}

.preview-card-section--suv {
  background-color: var(--dark-cyan);
}

.preview-card-section--luxury {
  background-color: var(--very-dark-cyan);
}

.preview-card-section__title {
  color: var(--very-light-gray);
  font-family: var(--font-family-title);
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}

.preview-card-section__description {
  color: var(--white-transparent);
  font-weight: var(--font-weight-regular);
  line-height: 1.6;
}

.preview-card-section__btn {
  text-decoration: none;
  display: inline-block;
  width: fit-content;
  background-color: var(--very-light-gray);
  border: 2px solid var(--very-light-gray);
  border-radius: 25px;
  padding: 12px 32px;
}

.preview-card-section__btn:hover,
.preview-card-section__btn:focus-visible {
  color: var(--very-light-gray);
  background-color: transparent;
}

.preview-card-section__btn--sedan {
  color: var(--bright-orange);
}

.preview-card-section__btn--suv {
  color: var(--dark-cyan);
}

.preview-card-section__btn--luxury {
  color: var(--very-dark-cyan);
}

/* Larger Screen Styles */

@media (min-width: 50rem) {
  .preview-card {
    max-width: 57.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .preview-card-section__description {
    margin-bottom: 5rem;
  }

  .preview-card-section__btn {
    margin-top: auto;
  }
}
